    #spiderman {
        background-size: 100% 100%;
        background-image: url("../img/Illustration/img1.png");
    }
    
    #spiderCine img {
        margin: auto;
        height: auto;
        display: block;
        max-width: 100%;
    }
    
    #spiderCine p {
        text-align: center;
    }
    
    #spiderCine ul {
        margin: auto;
        display: block;
        width: fit-content;
    }
    
    #spiderCine ul li {
        text-align: center;
    }
    
    #become-spider {
        background-size: contain;
        background-position-x: left;
        background-repeat: no-repeat;
        background-position-y: center;
        background-color: var(--color-blue);
        background-image: url("../img/Illustration/img5.png");
    }
    
    #become-spider input[type="text"],
    #become-spider input[type="email"] {
        border: 1px solid black
    }
    
    #become-spider input[type="text"]::placeholder,
    #become-spider input[type="email"]::placeholder {
        color: black;
    }
    
    #newsletter {
        min-height: 30vw;
        background-position: 250% 100%;
        background-size: 80% 70%;
        background-repeat: no-repeat;
        background-image: url("../img/Illustration/img6.png");
    }
    
    #newsletter input[type="text"],
    #newsletter input[type="email"] {
        border: 1px solid white;
    }
    
    #newsletter input[type="text"]::placeholder,
    #newsletter input[type="email"]::placeholder {
        color: white
    }
    
    #newsletter .form-check {
        margin-top: 1rem;
    }
    
    @media screen and (max-width:375px) {
        #spiderman .container div {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }
        #spiderman .container div a {
            font-size: small;
            margin-top: 0.5rem;
        }
    }
    
    @media screen and (min-width:768px) {
        #spiderCine p {
            text-align: justify;
            text-justify: inter-word;
        }
        #spiderCine ul {
            margin-left: 0;
            display: block;
            width: fit-content;
        }
        #spiderCine ul li {
            text-align: justify;
        }
        #newsletter {
            min-height: 30vw;
            background-size: contain;
            background-position: right;
            background-repeat: no-repeat;
            background-image: url("../img/Illustration/img6.png");
        }
    }