    @font-face {
        font-family: "ffh";
        src: url("../font/FFHC/Typo-FarFromHomecoming.woff2") format("woff2"), url("../font/FFHC/Typo-FarFromHomecoming.otf") format("opentype");
    }
    
    @font-face {
        font-family: "Montserrat";
        src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf");
    }
    
     :root {
        --color-red: #b11313;
        --color-yellow: #f1c530;
        --color-blue: #114c92;
    }
    /* DEFAULT */
    
    body {
        color: white;
        font-family: "Montserrat", sans-serif;
    }
    /* BACKGROUND-COLOR */
    
    .bg-red {
        background-color: var(--color-red);
    }
    
    .bg-yellow {
        background-color: var(--color-yellow);
    }
    
    .bg-blue {
        background-color: var(--color-blue);
    }
    /* text-color */
    
    .text-red {
        color: var(--color-red);
    }
    
    .text-yellow {
        color: var(--color-yellow);
    }
    
    .text-blue {
        color: var(--color-blue);
    }
    
    .mybtn-link {
        margin: auto;
        display: block;
        min-width: 10rem;
        width: fit-content;
        border-radius: 1rem;
    }
    /* HEADER AND FOOTER*/
    
    .navbar-toggler-icon {
        /* Redefine bs5 navbar-toggler-icon*/
        background-image: url("dots.svg");
    }
    /* Icon size */
    
    .is-1 {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .footer-nav {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .form-select {
        /* redefine bs5 Form form-select*/
        color: white;
        background-image: url("select-arrow.svg") !important;
    }
    
    dl dt,
    dl dd {
        display: inline;
    }
    
    dl dd::after {
        content: "\a";
        white-space: pre-line;
    }
    
    .card {
        border: none;
        background-color: inherit;
    }
    
    footer .nav-item .nav-link {
        margin-bottom: 0.5rem;
    }
    
    footer .nav-item .nav-link,
    header .nav-item .nav-link {
        /*redefine bs5 nav-item|link*/
        margin: 0;
        color: white;
        font-weight: 700;
    }
    
    footer .nav-item:hover .nav-link,
    header .nav-item:hover .nav-link {
        color: gray;
    }
    /* The top big title with backgroud image*/
    
    .main-title {
        display: flex;
        min-height: 40vw;
        max-height: 150px;
        align-items: center;
        height: auto !important;
        background-repeat: no-repeat;
    }
    
    .main-title h1.title-1 {
        font-size: 5vw;
        font-family: "ffh";
    }
    /** HOME index.html **/
    
    #spiderman {
        background-size: 100% 100%;
        background-image: url("../img/Illustration/img1.png");
    }
    
    #spiderCine img {
        margin: auto;
        height: auto;
        display: block;
        max-width: 100%;
    }
    
    #become-spider {
        background-size: contain;
        background-position-x: left;
        background-repeat: no-repeat;
        background-position-y: center;
        background-color: var(--color-blue);
        background-image: url("../img/Illustration/img5.png");
    }
    
    #newsletter {
        height: auto;
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        background-image: url("../img/Illustration/img6.png");
    }
    /* ADVERSAIRE */
    
    #vilin {
        background-size: 100% 100%;
        background-image: url("../img/Illustration/img7.png");
    }
    /* redefine .card and .card-body for adversaire*/
    
    #adversaire .card {
        margin-top: 2rem;
    }
    
    #adversaire .card-body {
        color: black;
        padding: 2rem;
        border-radius: 0 0 2rem 2rem;
        border-left: 0.5rem solid rgba(0, 0, 0, 0.8);
        border-right: 0.5rem solid rgba(0, 0, 0, 0.8);
        border-bottom: 0.5rem solid rgba(0, 0, 0, 0.8);
        box-shadow: 0.1rem 0.15rem 0.5rem rgba(0, 0, 0, 0.8);
    }
    /* A PROPOS about.html */
    
    #laToile {
        background-size: contain;
        background-position: right;
        background-color: var(--color-yellow);
        background-image: url("../img/Illustration/img5alt.png");
    }
    /* HERO */
    
    iframe {
        width: 100%;
        height: fit-content;
    }
    
    #unHero {
        background-size: cover;
        background-image: url("../img/Illustration/img19.png");
    }
    
    #fondation {
        width: 100%;
        min-height: 30vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/Illustration/img20.png");
    }
    
    #amis1,
    #amis2 {
        padding: 0.5rem;
        width: 60%;
        margin: auto;
        display: block;
    }
    
    #lesFilles {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    #lesFilles img {
        width: 30%;
    }
    
    #avengers {
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        background-color: var(--color-red);
        background-image: url("../img/Illustration/img32.png");
    }
    /* BATMAN bonus.html */
    
    #batman {
        background-size: 100% 100%;
        background-image: url("../img/Illustration/img35.png");
    }
    
    #univers {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/Illustration/img33.png");
    }
    
    .bg-transparent-blue {
        background-color: rgba(17, 75, 146, 0.6);
    }
    
    @media screen and (min-width: 576px) {
        .main-title {
            max-height: 328px;
        }
    }
    /* MD */
    
    @media screen and (min-width: 768px) {
        .main-title {
            max-height: 429px;
        }
        #spiderCine p {
            text-align: justify;
        }
        .footer-nav {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: row;
            list-style-type: none;
            justify-content: center;
        }
        #amis1 {
            width: 60%;
            padding: 0;
            display: block;
            margin-left: 0;
        }
        #amis2 {
            width: 65%;
            padding: 0;
            margin-left: 35%;
            margin-top: -15%;
        }
        #lesFilles {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: space-evenly;
        }
        #lesFilles img {
            width: 45%;
            height: auto;
        }
    }
    /*LG*/
    
    @media screen and (min-width: 992px) {
        .main-title {
            max-height: 534px;
        }
    }
    /* XL */
    
    @media screen and (min-width: 1200px) {
        .main-title {
            max-height: 634px;
        }
    }
    /* XXL */
    
    @media screen and (min-width: 1400px) {
        .main-title {
            max-height: 700px;
        }
    }