    @font-face {
        font-family: "Spiderman";
        src: url("../font/FFHC/Typo-FarFromHomecoming.otf") format("opentype");
    }
    
    @font-face {
        font-family: "Montserrat";
        src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf");
    }
    
     :root {
        --color-red: #b11313;
        --color-yellow: #f1c530;
        --color-blue: #114c92;
    }
    /*********** SHARED STYLES *****************/
    
    body {
        color: white;
        font-family: "Montserrat", sans-serif;
    }
    /* BACKGROUND-COLOR */
    
    .bg-red {
        background-color: var(--color-red);
    }
    
    .bg-yellow {
        background-color: var(--color-yellow);
    }
    
    .bg-blue {
        background-color: var(--color-blue);
    }
    /* text-color */
    
    .text-red {
        color: var(--color-red);
    }
    
    .text-yellow {
        color: var(--color-yellow);
    }
    
    .text-blue {
        color: var(--color-blue);
    }
    
    .text-justify {
        text-align: justify;
        text-justify: distribute-all-lines;
    }
    
    .font-spider {
        font-family: "Spiderman", sans-serif;
    }
    
    .mybtn {
        margin: auto;
        min-width: 10rem;
        width: fit-content;
        border-radius: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    
    input.form-control {
        margin-top: 1rem;
        border-radius: 1rem;
    }
    
    .py-25 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    /* HEADER AND FOOTER*/
    
    header {
        position: absolute;
        top: 0rem;
        width: 100%;
    }
    
    header .navbar-brand {
        margin: 0;
        padding: 0;
        height: 2rem;
    }
    
    .navbar-brand img {
        height: 100%;
    }
    
    .navbar-toggler-icon {
        /* Redefine bs5 navbar-toggler-icon*/
        background-image: url("dots.svg");
    }
    
    .collapse {
        background-color: black;
    }
    
    .collapse li {
        text-align: right;
        padding-right: 2rem;
        border-bottom: 1px solid white;
    }
    /* Icon size */
    
    .is-1 {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .footer-nav {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .form-select {
        /* redefine bs5 Form form-select*/
        color: white;
        border-radius: 1rem;
        border: 1px solid white;
        background-image: url("select-arrow.svg") !important;
    }
    
    dl dt,
    dl dd {
        display: inline;
    }
    
    dl dd::after {
        content: "\a";
        white-space: pre-line;
    }
    
    .card {
        border: none;
        background-color: inherit;
    }
    
    footer .nav-item .nav-link {
        margin-bottom: 0.5rem;
    }
    
    footer .nav-item .nav-link,
    header .nav-item .nav-link {
        /*redefine bs5 nav-item|link*/
        margin: 0;
        color: white;
        font-weight: 700;
    }
    
    footer .nav-item:hover .nav-link,
    header .nav-item:hover .nav-link {
        color: gray;
    }
    
    footer a.nav-link {
        padding: 0.5rem 0.5rem;
    }
    /* The top big title with backgroud image*/
    
    .main-title {
        display: flex;
        min-height: 40vw;
        max-height: 150px;
        padding-top: 5rem;
        align-items: center;
        height: auto !important;
        background-repeat: no-repeat;
    }
    
    .main-title h1.title-1 {
        font-size: 5vw;
        font-family: "Spiderman", sans-serif;
    }
    
    .main-title .subtitle {
        font-size: 2.5vw;
        font-weight: bold;
    }
    /********************* MEDIA QUERIES ************************** */
    
    @media screen and (min-width: 576px) {
        .main-title {
            max-height: 328px;
        }
    }
    /* MD */
    
    @media screen and (min-width: 768px) {
        header {
            top: 0;
            width: 100%;
            position: fixed;
            z-index: 10;
        }
        header:hover {
            background-image: linear-gradient(var(--color-red), var(--color-blue));
        }
        header .navbar-brand {
            margin: 0;
            padding: 0;
            height: 4rem;
        }
        .collapse {
            background-color: initial;
        }
        .collapse li {
            text-align: initial;
            padding-right: initial;
            border-bottom: initial;
        }
        .main-title {
            margin-top: 5rem;
            max-height: 429px;
        }
        .footer-nav {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: row;
            list-style-type: none;
            justify-content: center;
        }
    }
    /*LG*/
    
    @media screen and (min-width: 992px) {
        .main-title {
            max-height: 534px;
        }
    }
    /* XL */
    
    @media screen and (min-width: 1200px) {
        .main-title {
            max-height: 634px;
        }
    }
    /* XXL */
    
    @media screen and (min-width: 1400px) {
        .main-title {
            max-height: 700px;
        }
    }