@font-face {
    font-family: FarFromHome;
    src: url("../font/Typo-FarFromHomecoming.woff2");
}

:root {
    --color-red: #b11313;
    --color-yellow: #f1c530;
    --color-blue: #114c92;
}


/* background-color */

.bg-red {
    background-color: var(--color-red);
}

.bg-yellow {
    background-color: var(--color-yellow);
}

.bg-blue {
    background-color: var(--color-blue);
}


/* Icon size */

.is-1 {
    width: 2.5rem;
    height: 2.5rem;
}


/* form select du footer*/

.form-select {
    border: none;
    padding: 0 1rem;
    min-width: 150px;
    border-radius: 1rem;
}

@media screen and (max-width:768px) {
    header {
        background-color: inherit!important;
    }
}